<!-- Main Header -->
<header id="home">
  <div id="main-header">
    <div class="container intro">
      <br>
      <h1>Hi! My name is Shoaib Shaikh.</h1>
      <h1>You can call me Sho.</h1>
      <h1 class="rw-sentence">
    		<span class="cursor">I am a</span>
        <span class="type">developer.<span>_</span></span>
    		<span class="type">thinker.<span>_</span></span>
    		<span class="type">gamer.<span>_</span></span>
    		<span class="type">dreamer.<span>_</span></span>
    	</h1>
    </div>
  </div>
</header>

<!-- Projects -->
<section id="projects">
  <div class="projects">
    <h1 class="text-center">- Projects -</h1>
  </div>
  <div class="context col-md-5 col-md-offset-1">
    <h2 class="project-title"><a href="http://localized.herokuapp.com/">Localized</a></h2>
    <p class="project-description">
      Localized was a final project at General Assembly, that was intended for small local businesses that had no online presence. It is a quick way to have a one page business website up and running by just filling out a simple form.
    </p>
  </div>
  <div class="project-image col-md-5 text-center">
    <a href="http://localized.herokuapp.com/"><%= image_tag "localized.png" %></a>
  </div>
  <div class="hr clearfix col-md-12"></div>
</section>

<!-- Contact -->
<footer id="contact">
  <div class="footer-hr"></div>
  <div class="blah text-center">
    <h1 class="text-center">- Contact -</h1>
    <div class="row">
      <div class="col-md-2 col-md-offset-4 text-left">
        <h2><a href="mailto:shoshaikh7@gmail.com"><i class="fa fa-at"></i></a></h2><br>
        <h2><a href="https://github.com/shoshaikh7"><i class="fa fa-github-alt"></a></i></h2><br>
        <h2><a href="https://www.linkedin.com/in/shoshaikh"><i class="fa fa-linkedin"></a></i></h2><br>
        <h2><a href="https://twitter.com/ShaikhSho"><i class="fa fa-twitter"></i></a></h2><br>
      </div>
      <div class="col-md-2 text-right">
        <h2><a href="mailto:shoshaikh7@gmail.com">Email</a></h2><br>
        <h2><a href="https://github.com/shoshaikh7">Github</a></h2><br>
        <h2><a href="https://www.linkedin.com/in/shoshaikh">LinkedIn</a></h2><br>
        <h2><a href="https://twitter.com/ShaikhSho">Twitter</a></h2><br>
      </div>
    </div>
  </div>
  <%= image_tag "mountains_1280.jpg" %>
</footer>
